#waybar {
  background-color: transparent;
  color: #f8f8f2;
}

/* Clock */

#clock {
  background-color: #373a4d;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 4px;
}

/* Workspace */

#hyprland-workspaces,
button {
  min-width: 40px;
  padding: 0;
  background-color: #373a4d;
  border-radius: 15px;
  margin: 4px;
}

#hyprland-workspaces,
button.active,
button:hover {
  background-color: #BD93F9;
}

/* Audio */

#pulseaudio {
  background-color: #373a4d;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 4px 0px 4px 4px;
}

#pulseaudio:hover {
  background-color: #BD93F9;
}

/* Power */

#custom-power {
  background-color: #373a4d;
  margin: 4px 4px 4px 0px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
}

#custom-power:hover {
  background-color: #BD93F9;
}

/* Modules */

.modules-center {
  margin-top: 8px;
  border-radius: 30px;
  background-color: #282a36;
}

.modules-left {
  margin: 8px 0px 0px 8px;
  border-radius: 30px;
  background-color: #282a36;
}

.modules-right {
  margin: 8px 8px 0px 0px;
  border-radius: 30px;
  background-color: #282a36;
}
