/* ### Thunar Start ### */
window.thunar * {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  font-family: "FiraCode Nerd Font";
}

window.thunar {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Menu & Popups */
window.thunar menu,
window.thunar .popup {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
}

window.thunar .popup decoration {
  box-shadow: none;
}

window.thunar .popup.background {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Button */
window.thunar button,
window.thunar entry {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: none;
}
/* ### Thunar End ### */
